<!DOCTYPE html>
<html>
<head>
  <title>QuoterApplication</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
	<%= link_to "Quoter", home_path %>
	<%= link_to "Home", home_path %>
		<% if user_signed_in? %>
	  
			<%= link_to current_user.full_name, edit_user_registration_path %>
			<%= link_to'Logout', logout_path %>

		<%else%>
			<%= link_to "Register", register_path %>
		    <%= link_to "Log in", login_path %>
	
        <%end%>


 <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
